{% extends "base.html" %}

{% block content %}
    {% if department_name %}
        <div class="text-center">Department: <span>{{ department_name }}</span></div>
    {% endif %}
    {% for content in contents %}
        <div class="container-fluid p-2 m-2 product">
            <div class="row">
                <div class="col-md-1">
                </div>
                <div class="col-md-10">
                    <h3 class="text-center">
                        {{ content.title }}
                    </h3>
                </div>
                <div class="col-md-1">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {% for name in names %}
                        {% if content[name] %}
                            <div class="row">
                                <div class="col-md-3">
                                    {{ names[name] }}
                                </div>
                                <div class="col-md-9">
                                    {% if utils.is_link(content[name]) %}
                                        <a href="{{ content[name] }}" target="_blank">{{ content[name] }}</a>
                                    {% else %}
                                        {{ content[name] }}
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                 <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-6">
                            {% if content.primaryImageSmall %}
                                <img alt="" src=" {{ content.primaryImageSmall }} " class="rounded img-fluid" />
                            {% else %}
                                <img alt="" src=" {{ url_for('static', filename="not_available.png") }} " class="rounded img-fluid" />
                            {% endif %}
                        </div>
                        <div class="col-md-3">
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" class="class_art" value="{{ content.hash }}">
        </div>
    {% endfor %}
    {% if pagination %}
        <nav aria-label="Page navigation">
          <ul class="pagination justify-content-center">

              {% if pagination.prev.disable %}
                <li class="page-item disabled"><a class="page-link">Previous</a></li>
              {% else %}
                <li class="page-item"><a class="page-link" href="{{url_for('gallery', dep_uri=pagination.prev.dep_uri, page=pagination.prev.page) }}">Previous</a></li>
              {% endif %}

              {% for pagine in pagination %}
                {% if pagine != 'prev' or pagine != 'next' %}
                    {% if pagine.disable %}
                        <li class="page-item"><a class="page-link">{{ pagination[pagine].page }}</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="{{url_for('gallery', dep_uri=pagination[pagine].dep_uri, page=pagination[pagine].page) }}">{{ pagination[pagine].page }}</a></li>
                    {% endif %}
                {% endif %}
              {% endfor %}

              {% if pagination.next.disable %}
                <li class="page-item disabled"><a class="page-link">Next</a></li>
              {% else %}
                <li class="page-item"><a class="page-link" href="{{url_for('gallery', dep_uri=pagination.next.dep_uri, page=pagination.next.page) }}">Next</a></li>
              {% endif %}

          </ul>
        </nav>
    {% endif %}

{% endblock %}