<div class="row mt-4" hash="{{ content.hash }}">
	<div class="col-md-2">
		<form name="my_form" action="{{ url_for('save') }}" method="POST">
			<input type="hidden" name="hash" value="{{ content.hash }}">
			<input type="hidden" name="art_id" value="{{ content.art_id }}">
			{% if content.is_favorites %}
				<input type="hidden" name="action" value="remove">
				<button type="submit" class="btn btn-danger">
					Remowe from favorites
				</button>
			{% else %}
			<input type="hidden" name="action" value="add">
			<button type="submit" class="btn btn-success btn-lg">
				Add to favorites
			</button>
		{% endif %}
		</form>
	</div>
	<div class="col-md-8">
		{% if content.is_favorites %}
			<div class="info">
				<div>Info</div>
				{% if content.info %}
				<div class="info_content">{{ content.info }}</div>
				{% else %}
					<div class="info_content">Click to add info</div>
				{% endif %}
			</div>
		{% endif %}
	</div>
	<div class="col-md-2">
		{% if content.is_favorites %}
			<div class="note">
				<div>Note</div>
				{% if content.note == -1 %}
					<div class="note_content">Click to add note</div>
				{% else %}
					<div class="note_content">{{ content.note }} / 10</div>
				{% endif %}
			</div>
		{% endif %}
	</div>
</div>