<div class="dropdown">
  <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
    Select department
  </a>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    {% for department in departments %}
      <li><a class="dropdown-item" href="{{ url_for('index', dep_uri=department.name_uri,  page=1, me=me) }}">
        {{ department.name }} {% if department.count > 0 %} ({{ department.count }}) {% endif %}
      </a></li>
    {% endfor %}
  </ul>
</div>